@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

#website-logo {
  font-family: 'Playwrite PL', sans-serif;
  font-size: 2rem; /* Increased font size */
  font-weight: 400; /* Adjusted font weight */
  color: white;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7); /* Enhanced text shadow */
  text-decoration: none;
  margin-left: 3rem; /* Added padding */
  transition: all 0.3s ease-in-out; /* Smoother transition */
}

#website-logo:hover {
  color: whitesmoke; /* Slight color change on hover */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8); /* Enhanced shadow on hover */
  transform: scale(1.05); /* Slight scaling effect */
}


#logout-button {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #f9f9f9;
  background-color: black;
  
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-right: 3rem;
  cursor: pointer;
  transition: all 0.3s;
}

#signin-button {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #f9f9f9;
  background-color: black;
  
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-right: 3rem;
  cursor: pointer;
  transition: all 0.3s;
}

#signin-button:hover {
  background-color: rgb(53, 229, 0);
}

#signin-button:active {
  transform : scale(0.95);
}

#logout-button:hover {
  background-color: #f44336;
}

#logout-button:active {
  transform: scale(0.95);
}

/* align search bar in center */
#navbar-searchBar {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px; /* Adjust the max-width as needed */
  width: 100%;
}